<!--Esto va aparecer mientras sea false-->
<ng-container *ngIf="!loading">
<h1 >Producto: {{product?.name}}</h1>
<h2 [ngStyle]="{'color': color}">Precio: {{product?.price | currency}}</h2>
<!--Para que la descripcion no aparezca si no hay datos hacemos esta estructura de control-->
<h3 *ngIf="product?.description">Descripcion: {{product?.description}}</h3>
</ng-container>

<!--Esto va a aparecer mientras sea true-->
<ng-container *ngIf="loading"><i style="color: blue;">Cargando información...</i> </ng-container>