<div class="container">
    <!--Formulario de pantilla se pone asi form #miformulario="ngForm" -->
  <form (ngSubmit)="enviar()">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="name">
         <!--Esto se pone detras del id para los formularios de plantilla
        [(ngModel)]="usuario.nombre" required [ngModelOptions]="{standalone:true}"-->
        
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email"> 
        <!--Esto se pone detras del id para los formularios de plantilla
        [(ngModel)]="usuario.email " required [ngModelOptions]="{standalone: true}"
        -->
        
        
    </div>
    
    
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>  
</div>
